<div class="jumbotron text-center" id="maincontent">
	<h1>SocialEvent</h1>
	<br>
	<table style="width:100%,height:100%" id="registerTable">
		<tr>
			<td><h3>Teilnehmer</h3></td>
			<td><h3>Veranstalter</h3></td>
		</tr>
		<tr>
			<td>SocialEvent bietet Dir die M&ouml;glichkeit, Aktivit&auml;ten und Veranstaltungen in Deiner Umgebung zu finden 
					und neue Leute kennenzulernen. Zurzeit kein Anlass in deiner N&auml;he vorhanden? Erstelle doch selbst eine Aktivit&auml;t :)</td>
			<td>SocialEvent bietet Ihnen die M&ouml;glichkeit, Ihre Veranstaltungen und Dauerangebote zielgerichtet und einfach 
					zu bewerben und auf einfache Weise mit Ihren G&auml;sten in Kontakt zu kommen.</td>
		</tr>
		<tr>
			<td><button type="button" class="btn btn-primary" ng-click="registerUserClicked()">Als Teilnehmer<br /> registrieren</button></td>
			<td><button type="button" class="btn btn-primary" ng-click="registerHostClicked()">Als Veranstalter<br /> registrieren</button></td>
		</tr>
	</table>
</div>
