<div id="content">
	<h2>Meine Teilnahmen</h2>
	<table class="content-table" ng-hide="loading">
		<tr ng-repeat="participation in myParticipations">
			<td>{{participation.title}}</td>
			<td>{{participation.start}}</td>
			<td class="button-td"><input type="image" src="img/show.png" ng-click="viewActivityClicked(participation.activityid)"/></td>
			<td class="button-td"><input type="image" src="img/leave.png" ng-click="leaveActivityClicked(participation.activityid)"/></td>
		</tr>
	</table>
	<div ng-hide="loading || myParticipations.length">
		<h3 style="text-align:center; margin-top: 20%; color: #475B80;">Sie haben zurzeit keine Teilnahmen ...</h3>
	</div>
	<div ng-show="loading">
		<h3 style="text-align:center; margin-top: 20%; color: #475B80;">Daten werden geladen ...</h3>
		<div class="sk-circle">
			<!-- http://tobiasahlin.com/spinkit/ -->
		  <div class="sk-circle1 sk-child"></div>
		  <div class="sk-circle2 sk-child"></div>
		  <div class="sk-circle3 sk-child"></div>
		  <div class="sk-circle4 sk-child"></div>
		  <div class="sk-circle5 sk-child"></div>
		  <div class="sk-circle6 sk-child"></div>
		  <div class="sk-circle7 sk-child"></div>
		  <div class="sk-circle8 sk-child"></div>
		  <div class="sk-circle9 sk-child"></div>
		  <div class="sk-circle10 sk-child"></div>
		  <div class="sk-circle11 sk-child"></div>
		  <div class="sk-circle12 sk-child"></div>
		</div>
	</div>
</div>
